{% extends 'head' %}
{% block content %}
	<footer>
		<div class="container-fluid">
			<div class="payment">
				<i class="fa-brands fa-cc-mastercard"></i>
				<i class="fa-brands fa-cc-paypal"></i>
				<i class="fa-brands fa-cc-visa"></i>
			</div>
			<footer class="footer-10">
				<div class="container-fluid">
					<div class="row">
						<div class="col">
							<div class="row">
                            	<div class="col">
									<h2 class="footer-heading">عن المتجر</h2>
									<ul class="list-unstyled">
										<li>
											<a href="#" class="d-block"><img src="{{asset("/images/logo2.png")}}"></a>
										</li>
									</ul>
								</div>
								<div class="col">
									<h2 class="footer-heading">حسابي</h2>
									<ul class="list-unstyled">
										<li>
											<a href="#" class="d-block">طلباتي</a>
										</li>
										<li>
											<a href="#" class="d-block">السلة</a>
										</li>
										<li>
											<a href="#" class="d-block">طرق الدفع</a>
										</li>
									</ul>
								</div>
								<div class="col">
									<h2 class="footer-heading">روابط مهمه</h2>
									<ul class="list-unstyled">
										<li>
											<a href="#" class="d-block">تواصل معنا</a>
										</li>
										<li>
											<a href="#" class="d-block">سياسة الاستخدام</a>
										</li>
										<li>
											<a href="#" class="d-block">سياسة الاسترجاع</a>
										</li>
									</ul>
								</div>
								<div class="col">
									<h2 class="footer-heading">تابعنا</h2>
									<ul class="list-unstyled">
										<li class="row">
											<a href="#" class="d-block col"><i class="fa-brands fa-pinterest" style="color: #9fa3a7;"></i></a>
                                            <a href="#" class="d-block col"><i class="fa-brands fa-linkedin" style="color: #9fa3a7;"></i></a>
                                            <a href="#" class="d-block col"><i class="fa-brands fa-twitter" style="color: #9fa3a7;"></i></a>
                                            <a href="#" class="d-block col"><i class="fa-brands fa-facebook-f" style="color: #9fa3a7;"></i></a>


										</li>
										
									</ul>
								</div>
							</div>
						</div>
					
					</div>
					<div class="row mt-5 pt-4 border-top">
						<div class="col-md-6 col-lg-8 mb-md-0 mb-4">
							<p
								class="copyright mb-0">
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								All ights reserved &copy;<script>
									document.write(new Date().getFullYear());
								</script>
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							</p>
						</div>
						
					</div>
				</div>
			</div>
		</footer>
	{% endblock %}
